<div id=leaflet-popup-styling>
    <div class="panel panel-default osom-panel-map-marker">
        <div class="panel-body osom-popup-incident-subheader">
            <div class="subheader-icon-style">
                {{icon classification.iconClass}}
            </div>
            <div class="subheader-incident-p-style">
                <span class="subheader-title-style"><strong>Incident Area</strong></span>
                <br />
                {{classification.location}}
            </div>
        </div>
        <div class="panel-body osom-popup-body">
            <div id="osom-popup-content">
                <table id="popup-table-style">
                    <tr>
                        <th><strong><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="sr-only">Last updated</span></strong> </th>
                        <td>{{timeLocal classification.updatedTime}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Note: This depicts the extent of an area impacted by this incident at a point in time. It may not represent the current extent of the impact.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a href="#" class="no-url-change osom-popup-zoom text-uppercase"><img class="right-margin icon-controls-zoom_20x20" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>ZOOM</a>
            <div class="pull-right">
                {{#if classification.moreInformation}}
                {{#if classification.moreInformationURL}}
                <a href="{{classification.moreInformationURL}}" class="text-uppercase" target="_blank">LINK <img class="left-margin icon-controls-external_link_20x20" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/></a>
                {{else}}
                <a href="#" class="no-url-change text-uppercase" id="osom-popup-details">INFO<img class="left-margin icon-media-info_icon" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/></a>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
