<div id=leaflet-popup-styling>
    <div class="panel panel-default osom-panel-map-marker">
        <div class="panel-body osom-popup-header {{#if properties.incidentFeatures}} {{else}} {{#if classification.alertClass}}{{classification.alertClass}} {{else}}info{{/if}}{{/if}}">
            <div class="popup-header-icon-style ">
                {{icon classification.iconClass}}
            </div>
            <div class="osom-header-wrapper">
                <div class="popup-header-font-style">{{classification.headline}}</div>
                <div class="subheader-p-style">
                    {{properties.location}}
                    <br />
                    <span class="subheader-time-style">{{timeAgo classification.updatedTime}}</span>
                </div>
            </div>
        </div>
        {{#if properties.incidentFeatures}}
            <div class="panel-body osom-subheader {{#if classification.alertClass}}osom-subheader-{{classification.alertClass}}{{else}}osom-subheader-info{{/if}}">
                {{#list properties.incidentFeatures}}
                    <div class="osom-subheader-contents">
                        <div class="subheader-warning-icon-style">
                            {{icon classification.iconClass}}
                        </div>
                        <div class="subheader-p-style">
                            <span class="subheader-title-style"><strong>{{properties.category2}}</strong></span>
                            {{#if properties.location}}
                                <br />
                                {{properties.location}}
                            {{/if}}
                        </div>
                    </div>
                {{/list}}
            </div>
        {{else}}
            {{#if properties.webHeadline}}
                <div class="panel-body osom-popup-body">
                    <div id="osom-popup-content">
                        {{properties.webHeadline}}
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div class="panel-footer">
            <a href="#" class="no-url-change osom-popup-zoom text-uppercase"><img class="right-margin icon-controls-zoom_20x20" alt="Zoom in button" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>ZOOM</a>
            <div class="pull-right">
                {{#if classification.moreInformation}}
                    {{#if classification.majorIncidentLink}}
                        <a href="{{classification.majorIncidentLink}}" class="osom-popup-major-link text-uppercase">INFO<img class="left-margin icon-media-info_icon" alt="More information button" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/></a>
                    {{else}}
                        {{#if classification.moreInformationURL}}
                        <a href="{{classification.moreInformationURL}}" class="text-uppercase" target="_blank">LINK <img class="left-margin icon-controls-external_link_20x20" alt="External link button" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/></a>
                        {{else}}
                        <a href="#" class="no-url-change text-uppercase" id="osom-popup-details">INFO<img class="left-margin icon-media-info_icon" alt="More information button" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/></a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
