<div id="leaflet-popup-styling">
    <div class="panel panel-default osom-panel-map-marker">
        <div class="panel-body osom-popup-incident-subheader">
            <div class="subheader-icon-style">
                {{icon classification.iconClass}}
            </div>
            <div class="subheader-incident-p-style">
                <span class="subheader-title-style"><strong>{{classification.title}}</strong></span>
                <br />
                {{properties.location}} 
            </div>
        </div>
        <div class="panel-body osom-popup-body">
            <div id="osom-popup-content">
                <table id="popup-table-style">
                    {{#if properties.description}}
                        <tr>
                            <td colspan="2">{{properties.description}}</td>
                        </tr>
                    {{/if}}
                    {{#if properties.startDate}}
                    <tr>
                        <th><strong><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="sr-only">start date</span></strong> </th>
                        <td>Start : {{timeLocal properties.startDate}}</td>
                    </tr>
                    {{/if}}

                    {{#if properties.endDate}}
                    <tr>
                        <th><strong><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="sr-only">start date</span></strong> </th>
                        <td>End : {{timeLocal properties.endDate}}</td>
                    </tr>
                    {{/if}}
                    {{#if properties.createdDate}}
                    <tr>
                        <th><strong><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="sr-only">start date</span></strong> </th>
                        <td>Started : {{timeLocal properties.createdDate}}</td>
                    </tr>
                    {{/if}}

                    {{#if properties.updatedDate}}
                    <tr>
                        <th><strong><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="sr-only">start date</span></strong> </th>
                        <td>Updated at : {{timeLocal properties.updatedDate}}</td>
                    </tr>
                    {{/if}}

                    {{#if properties.fromLocation}}
                        {{#if properties.toLocation}}
                        <tr>
                            <th><strong><i class="fa fa-arrow-right" aria-hidden="true"></i> <span class="sr-only">From location</span></strong> </th>
                            <td>From : {{properties.fromLocation}}</td>
                        </tr>
                        <tr>
                            <th><strong><i class="fa fa-arrow-right" aria-hidden="true"></i> <span class="sr-only">To location</span></strong> </th>
                            <td>To: {{ properties.toLocation}}</td>
                        </tr>
                        {{else}}
                    <tr>
                        <th><strong><i class="fa fa-arrow-right" aria-hidden="true"></i> <span class="sr-only">Near location/span></strong> </th>
                        <td>Near : {{properties.fromLocation}}</td>
                    </tr>
                        {{/if}}

                   {{/if}}

                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a href="#" class="no-url-change osom-popup-zoom text-uppercase"><img class="right-margin icon-controls-zoom_20x20" alt="Zoom in button" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>ZOOM</a>
            <div class="pull-right">
                {{#if classification.moreInformation}}
                {{#if classification.moreInformationURL}}
                <a href="{{classification.moreInformationURL}}" class="text-uppercase" target="_blank">LINK <img class="left-margin icon-controls-external_link_20x20" alt="External link button" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/></a>
                {{else}}
                <a href="#" class="no-url-change text-uppercase" id="osom-popup-details">INFO<img alt="More information button" class="left-margin icon-media-info_icon" /></a>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
