<div class="panel panel-pgr-item {{containerCss}}" rel="#anchor-{{htmlId}}">
    <div class="panel-heading {{headingCss}}" role="tab">
        <h4 class="panel-title">
            {{#if children}}
            <a role="button" id="anchor-{{htmlId}}" class="item-name"  title="{{name}}" data-contentUrl="{{contentUrl}}" data-filterName="{{filterName}}" data-toggle="collapse" href="#" data-parent="#{{parent}}" data-target="#collapse{{htmlId}}" aria-expanded="true" aria-controls="collapseOne">
                {{#if iconClass}}
                <img class="hidden-expanded {{iconClass}}" alt="{{name}} icon" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> 
                <img class="visible-expanded {{#if expandIconClass}}{{expandIconClass}}{{else}}{{iconClass}}{{/if}}" alt="{{name}} icon" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                &nbsp;&nbsp;&nbsp;{{/if}}
                
                {{name}}
            </a>
            {{else}}
            <a role="button" id="anchor-{{htmlId}}" title="{{name}}" data-contentUrl="{{contentUrl}}" class="item-name" data-filterName="{{filterName}}" href="#" aria-expanded="true" aria-controls="collapseOne">
                {{#if iconClass}}
                <img class="hidden-expanded {{iconClass}}" alt="{{name}} icon" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                <img class="visible-expanded {{#if expandIconClass}}{{expandIconClass}}{{else}}{{iconClass}}{{/if}}" alt="{{name}} icon" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                &nbsp;&nbsp;&nbsp;{{/if}}
                 {{name}}
            </a>
            {{/if}}

            {{#if children}}
            <span class="expandable-wrapper">
                <a data-toggle="collapse" data-parent="#{{parent}}" href="#collapse{{htmlId}}">
                    <img class="hidden-expanded icon-media-arrow_down" alt="Arrow down icon to indicate collapsed header" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <img class="visible-expanded icon-media-arrow_up_white" alt="Arrow up icon to indicate expanded header" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                </a>
                    </span>
            {{/if}}
        </h4>
    </div>
    {{#if description}}
         <p class="pgr-item-desc"> {{description}}</p>
    {{/if}}
    {{#if children}}
    <div id="collapse{{htmlId}}" class="panel-collapse collapse panel-collapse-menu-content {{collapseCss}}" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" id="{{htmlId}}">
        </div>
    </div>
    {{/if}}
</div>
