<li class="watchzone-item" item-id="{{id}}">
    <div class="inner" item-id="{{id}}">
        <a href="#" item-id="{{id}}" class="watch-zone-item-trigger icon" trigger-mode="edit">
            <img class="icon-controls-wz-edit" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </a>
        <a href="../profile?id={{id}}" item-id="{{id}}" class="watch-zone-item-triggerx icon" trigger-mode="view">
            <img class="icon-controls-wz-mail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </a>

        <a href="#" item-id="{{id}}" class="watch-zone-item-trigger" trigger-mode="view">
            <span>{{name}}</span>
        </a>
        <div class="pull-right actions">
            <div class="toggle-notification-wrapper">
                <div class="pull-left toggle-notification-wrapper">
                    <input type="checkbox" class="watch-zone-item-toggle-notification" item-id="{{id}}" {{#if enableNotification}} checked {{/if}}>
                </div>
                <a item-id="{{id}}" class="watch-zone-item-trigger" trigger-mode="delete"><img class="icon-controls-wz-delete" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></a>
            </div>
        </div>
    </div>
</li>