<li class="watchzone-item" item-id="{{uuid}}">
    <div item-id="{{uuid}}" >
        <a href="./profile/filter-watchzone.html?id={{uuid}}" item-id="{{uuid}}">
            <img src="./images/app-icons/watchzone.png" width="24" />
            <span>{{name}}</span>
        </a>
    </div>
</li>