<li class="watchzone-item" item-id="{{id}}">
    <div class="inner" item-id="{{id}}">
        <a href="#" item-id="{{id}}" class="watch-zone-item-trigger icon" trigger-mode="edit">
            <img class="icon-controls-wz-edit-small" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </a>
        <a href="../profile/filter-watchzone.html?id={{name}}" item-id="{{id}}" class="watch-zone-item-triggerx icon" trigger-mode="view">
            <img class="icon-controls-wz-mail-small" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </a>

        <a href="#" item-id="{{id}}" class="watch-zone-item-trigger" trigger-mode="view">
            <div class="watchzone-name">{{name}}</div>
        </a>
        <div class="pull-right actions" style="text-align:right" >
            <div class="pull-right toggle-notification-wrapper">
                <div class="pull-left emv-small-switch">
                    <input type="checkbox" class="watch-zone-item-toggle-notification" item-id="{{id}}" {{#if enableNotification}} checked {{/if}}>
                </div>
                <a item-id="{{id}}" class="watch-zone-item-trigger pull-right " trigger-mode="delete"><img class="icon-controls-wz-delete-small" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></a>
            </div>
        </div>
    </div>
</li>