<li class="watchzone-item {{ifActive name}}" item-id="{{id}}">
    <div item-id="{{id}}" >
        <a item-name="{{name}}" item-id="{{id}}" class="watchzone-inline-">
            <img alt="Watch Zone" class="icon-controls-watchzone" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            <div>{{name}}</div>
        </a>
    </div>
</li>