{{#if fixed}}
    <li class="watchzone-folder" data-category="{{name}}">
        <input disabled="disabled" name="{{name}}" type="checkbox" class="emv-checkbox">
        <label for="{{name}}">All {{name}} </label>
     </li>
{{else}}
    <!--main category-->
    <li role="separator" class="watchzone-folder watchzone-folder-closed" data-category="{{name}}">
        <input id="{{name}}" name="{{name}}" type="checkbox" class="emv-checkbox">
        <label for="{{name}}">All {{name}} </label>
        <!--<span class="filter-folder-open-control fa fa-caret-right"></span>-->
        <span class="watchzone-folder-close-control fa fa-caret-down"></span>
    </li>
{{/if}}