<li class="watchzone-item" item-id="{{id}}">
    <div item-id="{{id}}" >
        <a href="./profile/filter-watchzone.html?id={{id}}" item-id="{{id}}">
            <img src="./images/app-icons/watchzone.png" width="24" />
            <span>{{name}}</span>
        </a>
    </div>
</li>