<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:georss="http://www.georss.org/georss">
    <id>{{baseURL}}</id>
    <title>Emergency Management Victoria</title>
    <subtitle>State-wide Incidents and Warnings</subtitle>
    <updated>{{timeISO timestamp}}</updated>
    <author>
        <name>Emergency Management Victoria</name>
    </author>
    <link href="{{dataURL}}atom-cap.xml" rel="self" type="application/atom+xml" />
    <link rel="alternate" type="text/html" hreflang="en" href="{{dataURL}}textonly.html"/>
    {{#each alerts}}
    <entry>
        <id>{{info.web}}</id>
        <title type="text">{{info.headline}}</title>
        <category term="{{info.category}}" />
        <published>{{timeISO sent}}</published>
        <updated>{{timeISO sent}}</updated>
        <link rel="alternate" type="text/html" href="{{info.web}}"/>
        <summary type="html">{{rss.description}}</summary>
        <content type="application/cap+xml">
            {{{xml}}}
        </content>
    </entry>
    {{/each}}
</feed>
