<h1><strong>Heat Health Alert for {{regionString}}</strong></h1>
<p><strong>Date Issued: {{timeLocal forecast}}</strong></p>
<p><strong>Issued by: {{contentApprover}}</strong></p>
<p><span style="text-decoration: underline;"><strong>Current situation</strong></span></p>
<p>A Heat Health Alert is being issued by the Department of Health and Human Services to the community due to forecast extreme heat conditions</p>
<p>The Bureau of Meteorology has forecast temperatures at or above heat health thresholds for {{dateLocal today}} in the following weather forecast district/s.</p>
<ul>
{{#each districts}}
<li>{{this}}</li>
{{/each}}
</ul>
<p><span style="text-decoration: underline;"><strong>What is the issue?</strong></span></p>
<p><strong>Extreme heat can kill.</strong>  Extreme heat conditions can impact on human health, normal day to day operations and essential services. People over 65, particularly those living alone, the very young and those with a pre-existing medical condition are most at risk.</p>
<p>This alert is being issued so you can make any preparations necessary to respond to extreme heat conditions.</p>
<p><span style="text-decoration: underline;"><strong>What you should do</strong></span></p>
<ul>
<li><strong>Drink water.</strong> Even if you don't feel thirsty, drink water. Take a bottle with you always.</li>
<li><strong>Hot cars kill.</strong> Never leave kids, adults or pets in cars. The temperature inside a parked car can double within minutes.</li>
<li><strong>Keep cool.</strong> Seek out air-conditioned buildings, draw your blinds, use a fan, take cool showers and dress in light and loose clothing made from natural fabrics.</li>
<li><strong>Plan ahead.</strong> Schedule activities in the coolest part of the day and avoid exercising in the heat. If you must go out, wear a hat and sunscreen and take a bottle of water with you.</li>
<li><strong>Help others.</strong> Look after those most at risk in the heat – your neighbour living alone, the elderly, the young, people with a medical condition and don’t forget your pets.</li>
</ul>
<p><strong>Ways to stay cool in your home</strong></p>
<ul>
<li>Ensure you have adequate water</li>
<li>Wet a face cloth and place it on your head, hands or feet in front of a fan.</li>
<li>Keep blinds and drapes closed. Pull down external awnings to keep the heat out. (If you are in a bushfire zone be mindful that you need to have blinds open so you can be alerted to any approaching fire danger. Especially on a <strong>Code Red</strong>)</li>
<li>Open windows when there is a cool breeze.</li>
<li>Eat light meals.</li>
<li>Wear light loose &ndash; fitting clothing.</li>
</ul>
<p><strong>Places to go to escape the heat</strong></p>
<p>The best place to keep cool is at home.&nbsp; If you have to go out, go before the heat hits.&nbsp; You may be travelling in the heat so be prepared. Take water with you; wear a hat and light, loose fitting clothing.&nbsp; Remember your vehicle will be extremely hot and your home may also be hot when you return so have a plan on how to stay cool when you return.&nbsp;</p>
<p>If you want relief from the heat, try:</p>
<ul>
<li>an indoor swimming pool</li>
<li>the local public library</li>
<li>an air-conditioned shopping centre or cinema</li>
<li>the house of a friend or family member who has air-conditioning.</li>
</ul>
<p><strong><span style="text-decoration: underline;">Health impacts of heat&nbsp;</span> </strong></p>
<p>It is important to know the signs and symptoms of heat exposure and how you should respond.</p>
<ul>
<li>People over 65 and those with a pre-existing medical condition are more at risk of adverse health effects from extreme heat.</li>
<li>Young children&rsquo;s smaller body size and underdeveloped nervous system places them at a much greater risk of life-threatening heatstroke, dehydration and other serious health risks.</li>
<li>Existing medical conditions including heart (cardiac) and kidney (renal) disease, asthma and respiratory illness can be exacerbated</li>
<li>Dehydration can lead to falls and confusion so it is important to remain hydrated by drinking water.</li>
<li>Gastroenteritis, mostly due to poor food handling, can also increase during extreme heat.</li>
</ul>
<p>Some heat related illnesses and common symptoms include.</p>
<ul>
<li><strong><em>Worsening of existing medical conditions</em></strong><strong><em>&nbsp;</em></strong></li>
<li><strong><em>Heat rash</em></strong>&ndash; a skin irritation caused by excessive sweating</li>
<li><strong><em>Heat cramps</em></strong>- these include muscle pains or spasms, usually in the abdomen, arms or legs.&nbsp;</li>
<li><strong><em>Dizziness and fainting</em></strong></li>
<li><strong><em>Heat exhaustion</em></strong>- this is a serious condition that can develop into heat stroke. Warning signs may include paleness and sweating, rapid heart rate, muscle cramps, headache, nausea and vomiting, dizziness or fainting.</li>
<li><strong><em>Heat stroke</em></strong>&ndash;&nbsp;this is a medical emergency and requires urgent medical attention &ndash; call 000. Heat stroke occurs when the core body temperature rises above 40.5C and the body&rsquo;s internal systems start to shut Symptoms of heat stroke may include stroke like symptoms, collapsing or seizures, unconsciousness and dry skin with no sweating.</li>
</ul>
<p>You can contact NURSE-ON-CALL 1300 60 60 24 if you have symptoms to discuss any concerns.</p>
<p><span style="text-decoration: underline;"><strong>More Information</strong></span></p>
<ul>
<li>Better Health Channel</li>
    <ul>
    <li><a href="https://www.betterhealth.vic.gov.au/campaigns/survive-the-heat?sc_camp=42BDA2FA5E6E420E9079264EB43E01F4&utm_campaign=heatevent&utm_source=emv&utm_medium=referral">Survive the heat</a></li>
    <li><a href="http://m.betterhealth.vic.gov.au/app-landing/index.htm">Smartphone App</a></li>
    </ul>
<li>Department of Health and Human Services</li>
    <ul>
    <li><a href="https://www2.health.vic.gov.au/public-health/environmental-health/climate-weather-and-public-health/heatwaves-and-extreme-heat?sc_camp=42BDA2FA5E6E420E9079264EB43E01F4&utm_campaign=heatevent&utm_source=emv&utm_medium=referral">Resources</a></li>
    <li>Chief Health Officer alerts and advisories - <a href="http://www.health.vic.gov.au/subscribe/">Subscriptions</a></li>
    </ul>
<li>Bureau of Meteorology - <a href="http://www.bom.gov.au/vic/forecasts/map7day.shtml">Victoria 7-Day Forecast</a></li>
<li>VicEmergency - <a href="http://emergency.vic.gov.au/respond/">emergency.vic.gov.au</a></li>
<li>Public Transport Victoria (PTV) - <a href="http://ptv.vic.gov.au/live-travel-updates">Delays &amp; cancellations</a></li>
<li>Energy and Resources - <a href="http://www.energyandresources.vic.gov.au/energy/safety-and-emergencies/power-outages/guide">Your guide to power outages</a></li>
<li>Caring for animals - <a href="http://agriculture.vic.gov.au/agriculture/animal-health-and-welfare/animal-health/animals-in-hot-conditions/caring-for-animals-during-extreme-heat">agriculture.vic.gov.au</a></li>

</ul>
<p><span style="text-decoration: underline;"><strong>Contacts</strong></span></p>
<p>Specific queries may be directed to the Environmental Health, Department of Health and Human Services on 1300 761 874 or&nbsp;<a href="mailto:Environmental.healthunit@dhhs.vic.gov.au">Environmental.healthunit@dhhs.vic.gov.au</a>.</p>
