<!doctype html>
<!--[if lt IE 9]><html lang="en" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html lang="en" class="no-js"><![endif]-->
<!--[if !IE]> --><html lang="en" class="no-js"><!-- <![endif]-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:url"           content="{{dataURL}}event{{url feature.classification.deeplinkurl}}.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:site_name"     content="Emergency Management Victoria" />
    <meta property="og:title"         content="{{feature.properties.category1}}: {{feature.properties.category2}} - {{feature.properties.status}}" />
    <meta property="og:description"   content="{{feature.classification.location}}" />
    <meta property="og:image"         content="{{dataURL}}/images/VicEmergencyLogo.png" />

    <title>Vic Emergency</title>

    <base href="{{baseURL}}" />
    <link rel="stylesheet" href="styles/vendor-textonly.css">
    <link rel="stylesheet" href="styles/em-public-textonly.css">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="styles/vendor-textonly-ie8.css">
    <script src="scripts/vendor-textonly-ie8.js"></script>
    <![endif]-->
</head>
<body class="incidents" onload="textonly.init(true)">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="emv-nav">
        <nav class="navbar">
            <div class="navbar-header">
                <a id="navbar-logo" class="emv-navbar-brand" style="background:none;" href="#">
                    <img class="icon-controls-vic_emergency icon-controls-vic_emergency-dims logo-full" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <span class="sr-only">Vic Emergency</span>
                </a>
                <div class="emv-navbar-toggle-container">
                    <button type="button" class="emv-navbar-toggle collapsed">
                        <span>
                            Incidents &amp; Warnings
                        </span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="index.html">Incidents &amp; Warnings <span class="sr-only">(selected)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="emv-navbar-menu dropdown visible-xs">
                    <button class="btn btn-default btn-md dropdown-toggle" type="button" id="SupportLinksMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-bars" aria-hidden="true"></span>
                        <span class="sr-only">Show Menu</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="SupportLinksMenu">
                        <li><a href="./respond/index.html#">Main Website</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="./news-and-media">News and Media</a></li>
                        <li><a href="./about-this-site">About this site</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://www.facebook.com/vicemergency" target="_blank">Facebook <span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/vicemergency" target="_blank">Twitter <span class="fa fa-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <nav id="navMenu" class="navbar navbar-default">
        <div class="container">
            <div> <!-- id="navbarFixed" class="collapse navbar-collapse" -->
                <ul class="nav text-center">
                    <li>
                        <div style="float:left; margin-left:0px;" class="navbar-btn">
                        <a href="./index.html#!{{feature.classification.deeplinkurl}}" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            Main Website
                        </a>
                        </div>
                    </li>
                    <li>
                        <div style="float:left; margin-left:5px;" class="navbar-btn">
                        <a href="/public/textonly.html" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;
                            <span class="hidden-xs">View All</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <table class="table table-hover table-striped table-condensed" id="textonly-table">
            <thead class="jumbotron">
                <th>Type</th>
                <th>Status</th>
                <th>Location</th>
                <th>Last Updated</th>
            </thead>
            <tbody>
                <tr data-href="#{{feature.classification.deeplinkurl}}" class="feature-row {{warningClass feature.properties.feedType}}">
                    <td class="sidebar-expanded-only">
                        {{feature.properties.category1}} - {{feature.properties.category2}}
                    </td>
                    <td class="sidebar-expanded-only">
                        {{feature.properties.status}}
                    </td>
                    <td class="sidebar-expanded-only">
                        <span class="lastLocation">{{feature.classification.location}}</span>
                    </td>
                    <td class="sidebar-expanded-only">
                        <span class="hidden lastUpdated">{{timeEpoch feature.classification.updatedTime}}</span>{{timeLocal feature.classification.updatedTime}}
                    </td>
                </tr>
            </tbody>
        </table>

        {{{feature.properties.webBody}}}
    </div>

    <nav class="footer navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.vic.gov.au" target="_blank">
                    <img alt="Victoria Government Logo" class="icon-controls-vic_gov_logo icon-controls-vic_gov_logo-dims" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
                    <span class="sr-only">(external link opens in new window)</span>
                </a>
            </div>
            <div id="bs-footer-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./respond/index.html#">Main Website</a></li>
                    <li><a href="./news-and-media">News and Media</a></li>
                    <li><a href="./about-this-site">About this site</a></li>
                    <li><a href="https://www.facebook.com/vicemergency" target="_blank">Facebook <span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://twitter.com/vicemergency" target="_blank">Twitter <span class="fa fa-twitter"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="scripts/vendor-textonly.js"></script>
    <script src="scripts/em-public-textonly.js"></script>
</body>
</html>
